#banner .carousel-item{
    height: 80vh;

}

#banner .carousel-item img{
    height: 100%;
}

#banner .carousel{
    position: relative;
}

#banner #element{
    position: absolute;
    top: 35%;
    left: 20%;
}